.popup__button-plus {
    background: url(../../../images/plus-gray.png) center no-repeat;
  }
  
  .popup__button-plus_active {
    background-color: black;
    background-image: url(../../../images/plus-white.png);
  }